.Greeting {
  background-color: aqua;
  color: red;
  padding: 20px;
}
.Declearing {
  background-color: black;
  color: aliceblue;
  padding: 20px;
}
.Condition {
  margin: 200px;
}
.list {
  margin: 200px;
}

/* useref */
.image-cointainer {
  width: 200px;
  height: 200px;
  border: 2px solid #333;
  background-color: aqua;
  cursor: pointer;
}
.org-img {
  width: 200px;
  height: 200px;
  border: 2px solid #333;
  cursor: pointer;
}

/* usecontext */
.light {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 20px;
}
.black {
  background-color: #333;
  color: #ffffff;
  padding: 20px;
}
